@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: azure;
}

.marked {
  color: yellow;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.selected {
  color: black;
}

.null {
  display: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

input {
  font: inherit;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 10px 10px 5px #aaa;
}

section {
  background-color: white;
  padding: 0 1rem 0 1rem;
  border-radius: 2px;
}

h1 {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: xx-large;
}

.container main .input {
  width: 100%;
  padding: 0.75rem;
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

main ul {
  display: flex;
  flex-direction: column;
}

main li {
  display: flex;
  min-height: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid grey;
  font-size: 1.25rem;
}

main li:last-child {
  border-bottom: none;
}

li label {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 1rem;
}

li label input {
  cursor: pointer;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

main li .button {
  display: flex;
  margin-left: auto;
}

main li button {
  margin-left: 0.75rem;
}

footer {
  background-color: #F4FCE8;
  display: flex;
  border-top: 1px solid grey;
  min-height: 3rem;
  align-items: center;
  padding: 0 0.5rem;
}

footer .button {
  margin-right: 2rem;

}
footer button {
  color: gray;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

footer ul {
  display: flex;
  translate: -50%;
  transition: translate 0.2s ease-in-out, z-index 0.2s ease-in-out;
  z-index: -1;
}

footer em {
  margin-left: auto;
}

.move {
  translate: 0;
  z-index: 1;
}