@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: azure;
}

.marked {
  color: yellow;
}

.completed {
  color: grey !important;
  text-decoration: line-through;
  font-weight: normal !important;
}

.selected {
  color: black;
}

.null {
  width: 0px;
  opacity:0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

input {
  font: inherit;
}

.container {
  display: flex;
  max-width: 1000px;
  height: 600px;
  margin: 4rem auto;
  box-shadow: 10px 10px 5px #aaa;
  background-color: white
}

.mainContent {
  min-width: 600px;
  max-height: 100%;
  position: relative;
}

section {
  background-color: white;
  padding: 0 1rem 0 1rem;
  border-radius: 2px;
}

h1 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: xx-large;
}

.container main .input {
  width: 100%;
  padding: 0.75rem;
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

main ul {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

main li {
  display: flex;
  min-height: 57px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid grey;
  font-size: 1.25rem;
  align-items: center;
}

main li:last-child {
  border-bottom: none;
}

li input[type="text"] {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 430px;
  text-overflow: ellipsis;
  border: none;
  color: black;
  background-color: inherit;
  font-weight: 600;
}

li input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}

main li .button {
  display: flex;
  margin-left: auto;
}

main li button {
  margin-left: 0.75rem;
}

footer {
  background-color: #F4FCE8;
  display: flex;
  border-top: 1px solid grey;
  min-height: 3rem;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .button {
  margin-right: 2rem;
}

footer button {
  color: gray;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

footer ul {
  display: flex;
  visibility: hidden;
  translate: -40%;
  transition: translate 0.4s ease-in-out, visibility 0.2s ease-in-out;
}

footer em {
  margin-left: auto;
}

.move {
  visibility: visible;
  translate: 0;
}
